@font-face {
    font-family: "Neo Sans Pro Light";
    src: url("../../NeoSansPro-Light.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Neo Sans Pro Regular";
  src: url("../../NeoSansPro-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
    font-family: "Neo Sans Pro Bold";
  src: url("../../NeoSansPro-Bold.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
    font-family: "Neo Sans Pro Ultra";
  src: url("../../NeoSansPro-Ultra.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: "";
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

html {
    font-size: 62.5%;
}

body {
    background-color: #fff;
    font-size: 1.4rem;
    font-family: "Neo Sans Pro Regular", sans-serif;
    color: #fff;
    line-height: 1.5;
    box-sizing: border-box;
    color: #404040;
}

*, *::after, *::before {
    box-sizing: border-box;
    outline: none;
}

i {
    color: green;
    font-size: 2rem;
}

a {
    text-decoration: none;
}

button {
    outline: none !important;
    border: none !important;
}

.container {
    width: 100%;
    max-width: 1480px;
    padding: 0 1.5rem;
    margin: 0 auto;
}

.section__title {
    font-size: 2.8rem;
    font-family: "Neo Sans Pro Bold", sans-serif;
    color: #004389;
    margin: 0 auto;
    text-align: center;
}

.section__title span {
    color: #eb0918;
}

.section__descr {
    font-size: 2rem;
    font-family: "Neo Sans Pro Regular", sans-serif;
    color: #404040;
    margin: 1rem auto;
    text-align: center;
}

.header {
    width: 100%;
    height: auto;
    min-height: 90vh;
    display: block;
    color: #fff;
    font-size: 2rem;
    position: relative;
}

@media (max-width: 996px) {
    .header {
        min-height: 90vh;
    }
}

@media (max-width: 1000px) and (orientation: landscape) and (max-height: 500px) {
    .header {
        min-height: 100vh;
    }
}

.header .container {
    position: relative;
    z-index: 10;
}

.header .menu {
    width: 100%;
    padding-top: 3rem;
    -ms-flex-align: center;
    align-items: center;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.header .logo a {
    font-size: 40px;
    font-family: "Neo Sans Pro Bold", sans-serif;
    color: #fff;
}

.header .logo a span {
    color: #eb0918;
}

.header__cont {
    margin-top: 10rem;
}

@media (max-width: 996px) {
    .header__cont {
        margin-top: 10rem;
    }
}

.header__cont h1 {
    padding-left: 3rem;
    max-width: 47rem;
    font-size: 3.6rem;
    font-family: "Neo Sans Pro Bold", sans-serif;
    line-height: 1.3;
    position: relative;
}

.header__cont h1::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 3px;
    height: 100%;
    background-color: #eb0918;
}

.header__cont h1 span {
    color: #eb0918;
}

.header__video {
    margin: 5rem 0 3rem 3rem;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: start;
    justify-content: start;
    -ms-flex-align: center;
    align-items: center;
    -webkit-column-gap: 2rem;
    -moz-column-gap: 2rem;
    column-gap: 2rem;
    color: #fff;
}

.header__video-img {
    width: 58px;
    height: 58px;
    border: 2px solid #fff;
    background: none;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
}

.header__video-img img {
    margin-left: 5px;
}

.header__right {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-align: center;
    align-items: center;
    -webkit-column-gap: 3rem;
    -moz-column-gap: 3rem;
    column-gap: 3rem;
}

.header__faq {
    color: #fff;
}

.header__soc {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -ms-flex-align: center;
    align-items: center;
    -webkit-column-gap: 0.5rem;
    -moz-column-gap: 0.5rem;
    column-gap: 0.5rem;
}

.header__callback {
    color: #fff;
    padding: 1.5rem;
    background: none;
    border: 3px solid #fff !important;
    cursor: pointer;
}

.header__select {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    width: 7rem;
    height: 5rem;
    line-height: 3;
    background: none;
    overflow: hidden;
}

.header__select select {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none;
    outline: 0;
    box-shadow: none;
    border: 0 !important;
    background: none;
    background-image: none;
    -ms-flex: 1;
    flex: 1;
    padding: 0 0.5em;
    color: #fff;
    cursor: pointer;
    font-size: 2rem;
    font-family: "Open Sans", sans-serif;
}

.header__select select::-ms-expand {
    display: none;
}

.header__select::after {
    content: "";
    position: absolute;
    width: 12px;
    height: 7px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    right: 1rem;
    background: transparent;
    background-image: url("../images/header/arrow-down.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    cursor: pointer;
    pointer-events: none;
    transition: 0.25s all ease;
}

.header__ option {
    background: #0d141f;
}

.header .select-lang {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: 0;
    box-shadow: none;
    border: 0 !important;
    background-image: none;
    background-color: none;
}

.header__lang {
    position: relative;
    padding-right: 2rem;
}

.header__lang::before {
    content: "";
    position: absolute;
    width: 12px;
    height: 7px;
    background-image: url("../images/header/arrow-down.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    right: 0;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}

.header::after {
    content: "";
    position: absolute;
    bottom: -10rem;
    right: 20rem;
    width: 871px;
    height: 622px;
    background-image: url("../images/header/cubes.png");
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
}

@media (min-width: 1995px) {
    .header::after {
        right: 30rem;
    }
}

@media (max-width: 1748px) {
    .header::after {
        right: 0;
    }
}

@media (max-width: 1503px) {
    .header::after {
        width: 800px;
        height: 590px;
    }
}

@media (max-width: 1280px) {
    .header::after {
        width: 690px;
        height: 450px;
        bottom: 0;
    }
}

@media (max-width: 1024px) {
    .header::after {
        width: 570px;
        height: 390px;
        bottom: -5rem;
        right: 0;
    }
}

@media (max-width: 768px) {
    .header::after {
        width: 500px;
        height: 370px;
        bottom: -10rem;
        right: 0;
    }
}

@media (max-width: 550px) {
    .header::after {
        width: 400px;
        height: 290px;
        bottom: -5rem;
        right: 0;
    }
}

@media (max-width: 450px) {
    .header::after {
        width: 300px;
        height: 190px;
        bottom: 0;
        right: 0;
    }
}

.header__bg {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    -o-object-position: bottom center;
    object-position: bottom center;
    z-index: 0;
}

.header__nav {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -ms-flex-align: center;
    align-items: center;
    -webkit-column-gap: 2.5rem;
    -moz-column-gap: 2.5rem;
    column-gap: 2.5rem;
}

@media (max-width: 1269px) {
    .header__nav {
        -webkit-column-gap: 1rem;
        -moz-column-gap: 1rem;
        column-gap: 1rem;
    }
}

@media (max-width: 996px) {
    .header__nav {
        position: absolute;
        top: 0;
        right: 1.5rem;
        width: 70%;
        height: auto;
        display: none;
        -ms-flex-direction: column;
        flex-direction: column;
        -ms-flex-align: end;
        align-items: flex-end;
        -ms-flex-pack: end;
        justify-content: flex-end;
        row-gap: 7rem;
        transition: all 0.5s linear;
        background-color: rgba(5, 56, 111, 0.9);
        margin-top: 9rem;
        padding: 5rem;
        z-index: 100;
    }
}

.header__nav.show {
    display: -ms-flexbox;
    display: flex;
}

.expert {
    width: 100%;
    display: block;
    text-align: center;
    padding: 15rem 0 0;
}

.expert__inner {
    margin-top: 3rem;
    position: relative;
}

.expert__inner::before, .expert__inner::after {
    content: "";
    position: absolute;
    width: 5rem;
    height: 100%;
    top: 0;
    z-index: 5;
}

.expert__inner::before {
    left: -2px;
    background-image: linear-gradient(to right, #fff, rgba(255, 255, 255, 0));
}

.expert__inner::after {
    right: -2px;
    background-image: linear-gradient(to left, #fff, rgba(255, 255, 255, 0));
}

.slider__item {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-align: center;
    align-items: center;
    text-align: center;
}

.slider__icon {
    position: relative;
    display: block;
    width: 213px;
    height: 250px;
}

.slider__icon img {
    position: absolute;
    -o-object-fit: contain;
    object-fit: contain;
    -o-object-position: center;
    object-position: center;
    right: 0;
    width: 100%;
    height: 100%;
}

.slider__item .slider__icon::before {
    content: "";
    position: absolute;
    width: 178px;
    height: 195px;
    background-image: url("../images/ic_bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    z-index: -1;
}

.owl-item:nth-child(2n) .slider__icon::before {
    right: 0;
    bottom: 0.7rem;
}

.owl-item:nth-child(2n+1) .slider__icon::before {
    left: 0;
    top: 0;
}

.slider__title {
    margin-top: 1rem;
    max-width: 20rem;
    text-align: center;
    text-transform: uppercase;
    color: #404040;
    font-size: 1.6rem;
    font-family: "Neo Sans Pro Bold", sans-serif;
}

.slider {
    position: relative;
}

.slider__btn {
    position: absolute;
    top: 50%;
    width: 58px;
    height: 58px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    border: none;
    outline: none;
    z-index: 100;
    background: none;
}

.slider__btn--prev {
    left: 0;
    background-image: url("../images/ar-back.png");
}

.slider__btn--next {
    right: 0;
    background-image: url("../images/ar-next.png");
}

.decisions {
    width: 100%;
    display: block;
    text-align: center;
    padding: 15rem 0 0;
}

.decisions .container {
    position: relative;
}

.decisions .container::before {
    content: "";
    position: absolute;
    right: 0;
    top: -10rem;
    width: 326px;
    height: 298px;
    background-image: url("../images/3cubes.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    z-index: -1;
}

.decisions .decisions__inner {
    margin-top: 3rem;
}

.decisions .faq-list ul {
    padding: 0;
    list-style: none;
    text-align: left;
}

.decisions .faq-list li + li {
    margin-top: 1.5rem;
}

.decisions .faq-list li {
    padding: 20px;
    background: none;
    border-radius: 4px;
    position: relative;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.decisions .faq-list a {
    display: block;
    position: relative;
    font-size: 2.2rem;
    line-height: 1.6;
    font-family: "Neo Sans Pro Regular", sans-serif;
    padding: 0 3rem 0 6rem;
    text-decoration: none;
    outline: none;
}

.decisions .faq-list a:hover {
    text-decoration: none;
}

.decisions .faq-list .icon-show, .decisions .faq-list .icon-close,
.decisions .faq-list2 .icon-show, .decisions .faq-list2 .icon-close {
    font-size: 24px;
    color: #eb0918;
    position: absolute;
    left: 0;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}

.decisions .faq-list p {
    margin-bottom: 0;
    padding: 15px 0 0 10rem;
    font-size: 1.8rem;
    position: relative;
}

.decisions .faq-list p::before {
    content: "";
    position: absolute;
    top: 1.3rem;
    left: 5.7rem;
    width: 30px;
    height: 30px;
    background: none;
    background-image: url("../images/blue-check.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.decisions .faq-list .icon-show, .decisions .faq-list2 .icon-show {
    display: none;
    color: #eb0918;
}

.decisions .faq-list a.collapsed, .decisions .faq-list2 a.collapsed {
    color: #404040;
}

.decisions .faq-list a.collapsed:hover,
.decisions .faq-list2 a.collapsed:hover {
    color: #004389;
}

.decisions .faq-list a.collapsed .icon-show,
.decisions .faq-list2 a.collapsed .icon-show {
    display: inline-block;
}

.decisions .faq-list a.collapsed .icon-close,
.decisions .faq-list2 a.collapsed .icon-close {
    display: none;
}

.work {
    width: 100%;
    height: 917px;
    background: none;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: center;
    justify-content: center;
    background-image: url("../images/bg-how-we-work.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
}

@media (max-width: 768px) {
    .work {
        background-position: 80% 0;
    }
}

.work .header__video {
    font-size: 2rem;
}

.work .container {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: end;
    align-items: flex-end;
}

@media (max-width: 768px) {
    .work .container {
        -ms-flex-align: start;
        align-items: flex-start;
    }
}

.work__inner {
    width: 50%;
    height: auto;
}

@media (max-width: 768px) {
    .work__inner {
        width: 100%;
    }
}

.work__title {
    position: relative;
    padding-left: 3rem;
}

.work__title::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 3px;
    height: 100%;
    background-color: #eb0918;
}

.work__title p {
    font-size: 2.2rem;
    color: #fff;
    font-family: "Neo Sans Pro Regular", sans-serif;
}

.work__title h1 {
    max-width: 47rem;
    font-size: 3.6rem;
    font-family: "Neo Sans Pro Bold", sans-serif;
    line-height: 1.3;
}

.work__title h1 span {
    color: #eb0918;
}

.work__video {
    margin: 5rem 0 3rem 3rem;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: start;
    justify-content: start;
    -ms-flex-align: center;
    align-items: center;
    -webkit-column-gap: 2rem;
    -moz-column-gap: 2rem;
    column-gap: 2rem;
    color: #fff;
    font-size: 2rem;
    text-decoration: none;
}

.work__video:hover {
    text-decoration: underline;
    color: #fff;
}

.work__video-img {
    width: 58px;
    height: 58px;
    border: 2px solid #fff;
    background: none;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
}

.work__video-img img {
    margin-left: 5px;
}

.burger {
    position: relative;
    display: none;
    z-index: 101;
    padding: 0;
    background: transparent;
    width: 4rem;
    height: 3rem;
    border: 0;
    font-size: 0;
    color: transparent;
    cursor: pointer;
}

@media (max-width: 996px) {
    .burger {
        display: block;
    }
}

.burger.active .burger__line:nth-child(1),
.burger.active .burger__line:nth-child(3) {
  /* display: none; */
    -webkit-transform: translateY(-5px);
    transform: translateY(-5px);
    background: rgba(255, 255, 255, 0);
}

.burger.active .burger__line:nth-child(2),
.burger.active .burger__line:nth-child(4) {
    -webkit-transform-origin: center;
    transform-origin: center;
    position: absolute;
    top: 50%;
    left: 0;
}

.burger.active .burger__line:nth-child(2) {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
  /* transform: rotate(45deg) translate3d(2px,4px,0); */
}

.burger.active .burger__line:nth-child(4) {
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
  /* transform: rotate(-45deg) translate3d(3px,-8px,0); */
}

.burger__line {
    display: block;
  /* opacity:1; */
    width: 4rem;
    height: 2px;
    background: rgb(255, 255, 255);
    margin: 4px 0;
    -webkit-transform: translateY(0);
    transform: translateY(0);
    transition: all 0.3s linear;
}

.burger__line:first-child {
    width: 2.5rem;
    margin-left: auto;
}

.etaps {
    padding: 10rem 0;
}

.etaps .container {
    position: relative;
}

.etaps .container::before, .etaps .container::after {
    content: "";
    position: absolute;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    top: -10rem;
    z-index: -1;
}

.etaps .container::before {
    background-image: url("../images/3cubes.jpg");
    width: 326px;
    height: 298px;
    left: 0;
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}

.etaps .container::after {
    background-image: url("../images/4cubes.jpg");
    width: 366px;
    height: 410px;
    right: 0;
}

@media (max-width: 996px) {
    .etaps .container::after {
        display: none;
    }
}

.etaps__inner {
    margin-top: 5rem;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-column-gap: 3rem;
    -moz-column-gap: 3rem;
    column-gap: 3rem;
    row-gap: 5rem;
}

@media (max-width: 786px) {
    .etaps__inner {
        -ms-flex-pack: center;
        justify-content: center;
    }
}

.etaps__item {
    max-width: 30%;
    text-align: center;
    font-family: "Neo Sans Pro Regular", sans-serif;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-align: center;
    align-items: center;
    row-gap: 2rem;
}

@media (max-width: 786px) {
    .etaps__item {
        max-width: 45%;
    }
}

@media (max-width: 495px) {
    .etaps__item {
        max-width: 100%;
    }
}

.etaps__circle {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
    width: 177px;
    height: 177px;
    border-radius: 50%;
    background-color: #fff;
    box-shadow: 0px 3px 10px 3px rgb(208, 208, 208), inset 0 0 30px rgb(208, 208, 208);
    border: 1px solid #fff;
}

.etaps__img {
    width: 85px;
    height: 85px;
    position: relative;
}

.etaps__img img {
    position: absolute;
    -o-object-position: center;
    object-position: center;
    -o-object-fit: contain;
    object-fit: contain;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.etaps__num {
    font-size: 2.7rem;
    color: #707070;
    font-weight: 700;
}

.etaps__title {
    line-height: 1.6;
}

.etaps__title span {
    display: block;
    font-family: "Neo Sans Pro Bold", sans-serif;
}

.ranges {
    padding: 5rem 0 10rem;
}

.ranges__inner {
    margin-top: 4rem;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-align: center;
    align-items: center;
    width: 100%;
}

@media (max-width: 768px) {
    .ranges__inner {
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }
}

@media (max-width: 550px) {
    .ranges__inner {
        -ms-flex-pack: center;
        justify-content: center;
    }
}

.ranges__item {
    width: calc(33% - 20px);
    background: #fff;
    height: 25rem;
    text-align: center;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -ms-flex-align: center;
    align-items: center;
}

@media (max-width: 768px) {
    .ranges__item {
        width: calc(50% - 20px);
    }
}

@media (max-width: 550px) {
    .ranges__item {
        width: 100%;
    }
}

.ranges__item .circle {
    position: relative;
    height: 15rem;
    width: 15rem;
    border-radius: 50%;
    background-color: #fff;
    transition: all 0.5s ease;
}

.ranges__item .circle .bar {
    transition: all 0.5s ease;
}

.ranges__item .circle .box, .ranges__item .circle .box span {
    position: absolute;
    top: 50%;
    left: 50%;
}

.ranges__item .circle .box {
    height: 100%;
    width: 100%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    border-radius: 50%;
    z-index: 100;
}

.ranges__item .circle .box span {
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    font-family: "Neo Sans Pro Bold", sans-serif;
    background: -webkit-linear-gradient(left, #004389, #eb0918);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 4.2rem;
    z-index: 100;
}

.ranges__item .text {
    margin-top: 2.5rem;
    font-family: "Neo Sans Pro Bold", sans-serif;
    font-size: 1.8rem;
    line-height: 1.3;
    color: #404040;
}

.contact__inner {
    margin-top: 5rem;
    width: 100%;
}

.contact__inner form {
    width: 100%;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-column-gap: 1.5rem;
    -moz-column-gap: 1.5rem;
    column-gap: 1.5rem;
}

@media (max-width: 1024px) {
    .contact__inner form {
        -webkit-column-gap: 1rem;
        -moz-column-gap: 1rem;
        column-gap: 1rem;
        row-gap: 2rem;
    }
}

@media (max-width: 550px) {
    .contact__inner form {
        -webkit-column-gap: none;
        -moz-column-gap: none;
        column-gap: none;
        row-gap: 5rem;
    }
}

.contact__inner .form__group {
    width: 23%;
}

@media (max-width: 1024px) {
    .contact__inner .form__group {
        width: 45%;
    }
}

@media (max-width: 550px) {
    .contact__inner .form__group {
        width: 100%;
    }
}

.contact__inner .form__group .input {
    display: block;
    height: 100%;
    width: 100%;
    border: none;
    font-size: 1.8rem;
    font-family: "Neo Sans Pro Regular", sans-serif;
    color: #707070;
    padding-left: 4rem;
    padding-bottom: 1.5rem;
    padding-top: 1.5rem;
    border-bottom: 1px solid rgb(187, 187, 187);
    transition: border-color 0.3s linear;
}

.contact__inner .input--user {
    background: url("../images/m-log.png");
    background-repeat: no-repeat;
    background-position: left 0px top 3px;
  /* background-size: contain; */
    background-size: inherit;
}

.contact__inner .input--phone {
    background: url("../images/m-tel.png");
    background-repeat: no-repeat;
    background-position: left 0px top 3px;
    background-size: inherit;
}

.contact__inner .input--mail {
    background: url("../images/m-let.png");
    background-repeat: no-repeat;
    background-position: left 0px top 12px;
    background-size: inherit;
}

.contact__inner .input::-webkit-input-placeholder {
    color: rgb(182, 182, 182);
}

.contact__inner .input::-moz-placeholder {
    color: rgb(182, 182, 182);
}

.contact__inner .input:-ms-input-placeholder {
    color: rgb(182, 182, 182);
}

.contact__inner .input::-ms-input-placeholder {
    color: rgb(182, 182, 182);
}

.contact__inner .input::placeholder {
    color: rgb(182, 182, 182);
}

.contact__inner .input:focus {
    outline: none;
    border-bottom-color: rgb(56, 55, 55);
}

.contact__inner .contact-btn {
    width: 23%;
    padding: 1.5rem 1.5rem;
    background-color: #004389;
    font-size: 1.8rem;
    color: #fff;
}

@media (max-width: 1024px) {
    .contact__inner .contact-btn {
        width: 45%;
    }
}

@media (max-width: 550px) {
    .contact__inner .contact-btn {
        width: 100%;
    }
}

.faq {
    padding: 15rem 0;
}